header {
   background-color: #A52A2A; 
   color: white;
   text-align: center;
}
footer {
    background-color: #000000;
    color: white;
    font-size: 20px;
    text-align: center;
}
.color1 {
    color: blue;
}
td {
    border-style: dashed;
}
div {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 25%; 
}