@font-face {
	font-family: 'Futura PT Heavy';
	src: url('../fonts/futura_pt_heavy.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futura_pt_heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futura_pt_heavy.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futura_pt_heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futura_pt_heavy.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futura_pt_heavy.svg#futura_pt_heavy') format('svg'); /* Chrome < 4, Legacy iOS */
}